<h1>Stupid Coaching</h1>
  <div class="answers">
    <p>You asked: <strong><%= @question %></strong></p>
    <p>Stupid coach says: <strong><%= @answer %></strong></p>
  </div>
<%= link_to "Ask again", root_path %>
